<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{{ title }}</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
    <link rel="stylesheet" href="https://s3.amazonaws.com/35found/css/bootstrap.min.css" type="text/css" media="screen">
	<link rel="stylesheet" href="https://s3.amazonaws.com/35found/css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="https://s3.amazonaws.com/35found/css/colors.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="js/prettyphoto/css/prettyPhoto.css"  type="text/css" media="all" />
	
     <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="http://css3-mediaqueries-js.googlecode.com/files/css3-mediaqueries.js"></script>
    <![endif]-->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js" type="text/javascript"></script>
    <script src="https://s3.amazonaws.com/35found/js/bootstrap.min.js" type="text/javascript"></script> 
    <script src="https://s3.amazonaws.com/35found/js/menu.js" type="text/javascript"></script> 
    <script src="https://s3.amazonaws.com/35found/js/jquery.flexslider.min.js" type="text/javascript"></script>
    <script src="https://s3.amazonaws.com/35found/js/jquery.easing.min.js" type="text/javascript"></script>
    <script src="https://s3.amazonaws.com/35found/js/prettyphoto/js/jquery.prettyPhoto.js" type="text/javascript"></script>
    <script src="https://s3.amazonaws.com/35found/js/jquery.tweet.min.js" type="text/javascript"></script>
    <script src="https://s3.amazonaws.com/35found/js/init.js" type="text/javascript"></script>
               
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">
    

</head>
  
 <body>
 <div class="mainWrap">
  <div class="wrap topbar">
    <div class="container">
    <ul class="social-media">
   <li><a class="facebook" href="#" target="_blank">Facebook</a></li>
  <li><a class="twitter" href="#" target="_blank">Twitter</a></li>
  <li><a class="rss" href="#" target="_blank">Rss</a></li>
  <li><a class="gplus" href="#" target="_blank">GPlus</a></li>
  <li><a class="linkedin" href="#" target="_blank">Linkedin</a></li>
  
    </ul>
</div><!--end container-->
</div><!--end topbar-->

<header class="wrap">
    <div class="container">
  <a class="logo" href="index.html"><img src="images/logo.png" alt="DentalClinic" /></a>
  <nav id="nav-desktop">
    <ul class="menu">
   <li><a href="index.html">HOME</a>
   <ul class="sub-menu">
   <li><a href="index.html">Home Style 1</a></li>
   <li><a href="home2.html">Home Style 2</a></li>
   <li><a href="home3.html">Home Style 3</a></li>
   </ul>
   </li>
  <li><a  href="about-3col.html">ABOUT US</a>
   <ul class="sub-menu">
   <li><a href="about-3col.html">Our Team</a>
    <ul>
   <li><a href="about-3col.html">3 Columns</a></li>
   <li><a href="about-4col.html">4 Columns</a></li>
   </ul>
   </li>
   <li><a href="faq.html">FAQ</a>
    <ul>
   <li><a href="faq.html">Full Width</a></li>
   <li><a href="faq-sidebar.html">With Sidebar</a></li>
   </ul>
   </li>
   <li><a href="testimonials.html">Testimonials</a>
    <ul>
   <li><a href="testimonials.html">Full Width</a></li>
   <li><a href="testimonials-sidebar.html">With Sidebar</a></li>
   </ul>
   </li>
   <li><a href="404.html">404 Page</a></li>
   </ul>
  </li>
  <li><a  href="services.html">SERVICES</a></li>
  <li><a  href="gallery-3col.html">GALLERY</a>
   <ul class="sub-menu">
   <li><a href="gallery-2col.html">2 Columns</a></li>
   <li><a href="gallery-3col.html">3 Columns</a></li>
   <li><a href="gallery-4col.html">4 Columns</a></li>
   <li><a href="javascript:void(0)">Level 3 Menu</a>
    <ul>
   <li><a href="#">This is</a></li>
   <li><a href="#">the third level</a></li>
   </ul>
   </li>
   </ul>
  </li>
  <li><a  href="cases.html">CASES</a>
   <ul class="sub-menu">
   <li><a href="cases.html">All Cases</a></li>
   <li><a href="cases-single-slideshow.html">Single - Slideshow</a></li>
   <li><a href="cases-single-video.html">Single - Video</a></li>
   <li><a href="cases-single-image.html">Single - One Image</a></li>
   </ul>
  </li>
  <li><a  href="prices.html">PRICES</a>
   <ul class="sub-menu">
   <li><a href="prices.html">Full Width</a></li>
   <li><a href="prices-sidebar.html">With Sidebar</a></li>
   </ul>
  </li>
  <li class="current_page_item"><a  href="blog-right-sidebar.html">BLOG</a>
   <ul class="sub-menu">
   <li><a href="blog-left-sidebar.html">Left Sidebar</a></li>
   <li><a href="blog-right-sidebar.html">Right Sidebar</a></li>
   <li><a href="#">Single Post</a>
   <ul>
   <li><a href="single-post-left-sidebar.html">Left Sidebar</a></li>
   <li><a href="#">Right Sidebar</a></li>
   </ul>
   </li>
   </ul>
  </li>
  <li><a  href="contact.html">CONTACT</a></li>
  </ul>
  </nav>
</div><!--end container-->
</header><!--end header-->


<div class="wrap">
<div class="container home-apoint">
<div class="row">
<div class="col-md-12 home-apoint-text">
<h2>Add Entry</h2>
</div>
</div><!--end row-->
</div><!--end container-->
</div><!--end wrap-->


<div class="wrap margin-block">
<div class="container">
<div class="row">

<article class="col-md-9 blog-post-single">
<div class="gal-img">
<img class="img-responsive" src="{{ url }}" alt=""/>
</div><!--end gal-img-->

<div class="content">


<p><form action="{{ action }}" method="POST">
<input type="text" name="title" class="comm-field" placeholder="Title" value="{{ title }}" size="22" tabindex="2" aria-required="true">
<input type="date" name="publish_date" class="comm-field" placeholder="Publish Date" value="{{ date }}" size="22" tabindex="2" aria-required="true" min="2014-09-08">
<input type="url" name="slide_url" class="comm-field" placeholder="url" value="{{ url }}" size="22" tabindex="2" aria-required="true">
<textarea name="body" id="message2" placeholder="Post Body" rows="9" tabindex="4">{{ body }}</textarea>
<input type="text" name="tags" class="comm-field" placeholder="Tags" value="{{ tags }}" size="22" tabindex="2" aria-required="false">

<input type="submit">
</form></p>



 <!-- You can start editing here. -->

    
 


</div><!--end content-->
</article><!--col-md-9-->




<aside class="col-md-3">
<ul>
<li id="search-field">
<form id="search-form">
<span><input type="text" name="s" id="search-string" onFocus="if(this.value=='search..')this.value='';" onBlur="if(this.value=='')this.value='search..';" value="search.."/>
</span>
</form>
</li><!--end search-->
<li>
<header class="sidebar-title">
<h3>Recent News</h3>
</header>
<div class="sidebar-news">
<ul>
<li>
<div class="snews-date">May 12, 2013</div>
<div class="snews-title"><a href="#">Pellentesque bibendum</a></div>
</li>
<li>
<div class="snews-date">May 11, 2013</div>
<div class="snews-title"><a href="#">Quisque tincidunt</a></div>
</li>
<li>
<div class="snews-date">May 10, 2013</div>
<div class="snews-title"><a href="#">Sed massa nunc</a></div>
</li>
<li>
<div class="snews-date">April 28, 2013</div>
<div class="snews-title"><a href="#">Vestibulum ante ipsum</a></div>
</li>
<li>
<div class="snews-date">April 16, 2013</div>
<div class="snews-title"><a href="#">Pulvinar massa id ligula</a></div>
</li>
</ul>
</div>
</li><!--end recent news-->
<li>
<header class="sidebar-title">
<h3>Archive</h3>
</header>
<div class="sidebar-archive">
<ul>
<li><a href="#">May 2013</a></li>
<li><a href="#">April 2013</a></li>
<li><a href="#">March 2013</a></li>
<li><a href="#">February 2013</a></li>
</ul>
</div>
</li><!--end archive-->
<li>
<header class="sidebar-title">
<h3>Appointment</h3>
</header>
<div class="sidebar-appoint">
<p>Donec accumsan sollicitudin leo in mollis. Pellentesque mi neque, imperdiet ac porttitor.</p>
<div class="home-apoint-btn">
<a href="#">Make an Appointment</a>
</div>
</div>
</li><!--end recent news-->

</ul>
</aside><!--end sidebar-->

</div><!--end row-->

</div><!--end container-->
</div><!--end wrap-->

<footer class="wrap margin-block">
<div class="container">
<div class="row">
<div class="col-md-3 foo-block">
<h3>About Us</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sem tortor, ac sagittis. Morbi mollis, neque sit amet convallis bibendum, leo purus commodo orci.</p>
<p>Address: 501 Boulevard, New York City, New York</p>
<p>Phone: 1-800-123-1234</p>
<p>Email: <a class="__cf_email__" href="/cdn-cgi/l/email-protection" data-cfemail="95f6fafbe1f4f6e1d5f1f0fbe1f4f9f6f9fcfbfcf6bbf6faf8">[email&#160;protected]</a><script cf-hash='f9e31' type="text/javascript">
/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("cf-hash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}}}catch(u){}}();/* ]]> */</script></p>
</div><!--end col-md-3-->
<div class="col-md-3 foo-block">
<h3>Latest Tweets</h3>
<div id="tweets"></div>
</div><!--end col-md-3-->
<div class="col-md-3 foo-block">
<h3>Recent News</h3>
<ul class="foo-news">
<li>
<div class="foo-date">May 12, 2013</div>
<h4><a href="#">Pellentesque bibendum</a></h4>
</li>
<li>
<div class="foo-date">May 11, 2013</div>
<h4><a href="#">Quisque tincidunt</a></h4>
</li>
<li>
<div class="foo-date">May 10, 2013</div>
<h4><a href="#">Sed massa nunc</a></h4>
</li>
</ul>
</div><!--end col-md-3-->
<div class="col-md-3 foo-block">
<h3>Quick FAQ</h3>
<ul class="foo-faq">
<li>
<h4>Cras sollicitudin enim?</h4>
<p>Mauris vulputate lacus id lacus vehicula at dapibus odio posuere. Cras sollicitudin.</p>
</li>
<li>
<h4>Vestibulum ante ipsum?</h4>
<p>Ut dolor elit, rutrum ac ornare eu, sagittis a enim. Donec cursus tempor risus, at pulvinar nibh lacinia.</p>
</li>
</ul>
</div><!--end col-md-3-->

</div><!--end row-->
</div><!--end container-->
</footer><!--end wrap-->

<div class="wrap copy-holder">
<div class="container">
<div class="row">
<div class="col-md-12 copyright">
<span>&copy; 2014 <a href="/">35Found.com</a> by <a href="http://www.powerroad.com">PowerRoad Software, Inc</a></span>
</div><!--end copyright-->
</div><!--end row-->
</div><!--end container-->
</div><!--end wrap-->

</div><!--end mainWrap-->
</body>
</html>